<%- include('partials/header') -%>
<div class="container">
  
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
      </div>
      <div class="mt-5">
        <h2>Add a menu item</h2>
        
        <!-- headings -->
        <div class="row">
          <div class="col">Sequence</div>
          <div class="col">Name of Food Item</div>
          <div class="col">Description</div>
          <div class="col">Category</div>
          <div class="col">Price</div>
          <div class="col">Picture</div>
          <div class="col">Edit</div>
          <div class="col">Delete</div>
        </div>
        
        <!-- to show items that have already been added -->      
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="row">
            <div class="col"><%= posts[i].sequence %></div>
            <div class="col"><%= posts[i].nameoffood %></div>
            <div class="col"><%= posts[i].description %></div>
            <div class="col"><%= posts[i].category %></div>
            <div class="col"><%= posts[i].price %></div>
            <div class="col"><img class="profile123-image" src="<%= posts[i].image%>" alt="menu-item"></div>
            <a class="col" href="/edit/<%= posts[i]._id %>" class="edit">
            <span class="fas fa-edit"></span>
            </a>
            <a class="col" href="/edit/remove/<%= posts[i]._id %>" class="remove">
            <span class="fas fa-times"></span>
            </a>
          </div>
        <% } %>
        
        
        <!-- to submit and create a new menu item -->
        <form action="/post/createPost" enctype="multipart/form-data" method="POST" class="row">
          <div class="col">
              <label for="sequence" class="form-label"></label>
              <input type="number" class="form-control" id="sequence" name="sequence">
          </div>
          <div class="col">
            <label for="nameoffood" class="form-label"></label>
            <textarea class="form-control" id="nameoffood" name="nameoffood"></textarea>
          </div>
          <div class="col">
            <label for="description" class="form-label"></label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="col">
            <label for="category" class="form-label"></label>
            <textarea class="form-control" id="category" name="category"></textarea>
          </div>
          <div class="col">
            <label for="price" class="form-label"></label>
            <input type="number" step="0.01" class="form-control" id="price" name="price"></input>
          </div>
          <div class="col">
            <label for="imageUpload" class="form-label"></label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>


      <!-- <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>   -->
    </div>
  </div>
</div>
<%- include('partials/footer') -%>